<div class="content-wrapper">
    {#모든 콘텐츠의 헤더 파트이고, 현재 페이지가 어디에 위치해있는지
      그 경로를 네비게이션 하고 있다 (모든 페이지는 필수로 유지) #}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">게시판</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{url_for('home')}}">Home</a></li>
                        <li class="breadcrumb-item active">게시판/검색/ajax</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            {# row 단위로 한줄의 콘텐츠가 생성 #}
            <div class="row">
                {# col-lg-숫자(12칸)로 컬럼의 차지하는 크기를 지정 #}
                <div class="col-lg-12 col-6">
                    {#  - 게시판 목록 리스트가 들어갈것이다 
                        - 디비에서 쿼리를 수행하여 데이터를 받아서
                        - 렌더링시 뿌려서 표현
                    #}
                    <div>
                        <fieldset>
                            <input type='text' name='keyword' placeholder='검색어' />
                            <!-- 검색버튼을, 클릭하면, 검색어를 들고서버로 요청이 간다 -->
                            <button id='searchBtn'>검색</button>
                        </fieldset>
                        <script>
                            // 특정하고, 처리해라
                            // xx.on() -> 이벤트 처리는 무조건 이함수
                            // 비동기 방식 => 이벤트가 언젠가 전달되면
                            // 내기 등록한 함수를 호출해서 그 이벤트에 따른 할일을 수행하게 구현
                            // 자바는 비동기, 파이썬은 동기식이 많음

                            // 첫번째 형태
                            /*
                                $('#searchBtn').on('click', search)
                                // 자바 스크립트 표준 함수
                                // 함수 : 표준함수, 익명함수, 클로저
                                // 에로우함수(표준에서 추가된 형태), 콜백함수(기능)
                                function search( event ){
                                    alert('클릭했다')
                                }
                            */

                            // 두번째 형태
                            // 익명(무명)함수 : 이름이 없다, 불러줄 코드도 없다 - 함수명을 안 씀
                            // 함수를 인자로 등록하여 그 코드에서만 사용되는 형태
                            // 이 형태는 이벤트 발생된 후 호출되므로 => 콜백함수라고도 부른다
                            /*
                            $('#searchBtn').on('click', function ( event ){
                                    alert('클릭했다')
                            })
                            */

                            // 세번째 형태
                            // ECMA2015~ 표준화 되면서 => 모던스크립트 => 간결화 기능, 추가기능..
                            // 애로우 함수 등장 => ()=>{}
                            $('#searchBtn').on('click', event =>{
                                    alert('클릭했다')
                            })
                        </script>
                    </div>
                    <table border ='1'>
                        <thead>
                            <tr>
                                <th>회사명</th>
                                <th>종목코드</th>
                                <th>업종</th>
                                <th>주요제품</th>
                                <th>상장일</th>
                                <th>결산월</th>
                                <th>대표자명</th>
                                <th>홈페이지</th>
                                <th>지역</th>
                            </tr>
                        </thead>

                        <tbody>    
                            {% for stock in stocks: %}
                                <tr>
                                    <td>{{ stock.name }}</td>
                                    <td>{{ stock.code }}</td>
                                    <td>{{ stock.indu }}</td>
                                    <td>{{ stock.product }}</td>
                                    <td>{{ stock.pubDate }}</td>
                                    <td>{{ stock.month }}</td>
                                    <td>{{ stock.owner }}</td>
                                    <td>{{ stock.homepage }}</td>
                                    <td>{{ stock.addr }}</td>
                                </tr>
                            {% endfor %}
                        
                        </tbody>
                    </table>
                </div>
                <!-- ./col -->
            </div>
    </section>
    <!-- /.content -->
</div>